footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  max-height: 40px;
  background: linear-gradient(#9c9eff, #3560cc);
}

#bookmarkarea {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  overflow: hidden;
  padding: 2px;
}

.navicon svg path {
  fill: #e5fffa; /* Change the fill color to white */
}
