footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  max-height: 40px;
  background: linear-gradient(hsl(239, 100%, 81%), hsl(223, 60%, 50%));
}

.navicon-book svg path {
  fill: #e5fffa;
}

.navicon-home svg path {
  fill: #e5fffa;
}

.navicon-profile svg path {
  fill: #e5fffa;
}

.navicon-questions svg path {
  fill: #e5fffa;
}

.navicon-book:hover {
  background: linear-gradient(hsl(239, 92%, 76%), hsl(223, 50%, 49%));
}

.navicon-profile:hover {
  background: linear-gradient(hsl(239, 92%, 76%), hsl(223, 50%, 49%));
}

.navicon-home:hover {
  background: linear-gradient(hsl(239, 92%, 76%), hsl(223, 50%, 49%));
}

.navicon-questions:hover {
  background: linear-gradient(hsl(239, 92%, 76%), hsl(223, 50%, 49%));}

#bookmarkarea {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  overflow: hidden;
  padding: 2px;
}